@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Knewave&display=swap');

@mixin Jersey10-Regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin Knewave-Regular {
	font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}
